html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
} 

@media (min-width: 1500px) {
  .container {
    width: 1470px;
  }
}

@media (min-width: 1900px) {
  .container {
    width: 1870px;
  }
}

/* mniejsze litery w pokazywanych błędach */
 .help-block {
	font-size: 10px;
}

/* grid kartik - przycisk all page w panelu */
a[title="Show all data"] {
	display: none;
}

/* grid view */

#connection-grid .pay:nth-child(odd) {
	background-color: #d7ffd7;
}

#connection-grid .pay:nth-child(even) {
	background-color: #a6ffa6;
}

#connection-grid .inactiv:nth-child(odd) {
	background-color: #ebebeb;
}

#connection-grid .inactiv:nth-child(even) {
	background-color: #e1e1e1;
}

#connection-grid .sevendays {
	background-color: #FFc9cC;
}

/* formularze */
.row.no-gutter [class*="col-"] {
    padding-left: 2px !important;
    padding-right: 2px !important;
}

.row.no-gutter [class*="col-"]:first-child {
    padding-left: 0px !important;
    padding-right: 2px !important;
}

.row.no-gutter [class*="col-"]:last-child {
    padding-left: 2px !important;
    padding-right: 0px !important;
}

.row.no-gutter [class*="col-"]:first-child:last-child {
    padding-left: 0px !important;
    padding-right: 0px !important;
}